<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.demo.mapper.NodeInfoMapper">

    <resultMap id="BaseResultMap" type="com.ruoyi.demo.domain.NodeInfo">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="type" column="type" jdbcType="INTEGER"/>
        <result property="fatherId" column="father_id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="order" column="order" jdbcType="INTEGER"/>
        <result property="providerId" column="provider_id" jdbcType="VARCHAR"/>
        <result property="nodeId" column="node_id" jdbcType="INTEGER"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="deleted" column="deleted" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,type,father_id,
        name,order,main_id,
        update_time,create_time,deleted
    </sql>

    <insert id="insertBatch" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO node_info (

        type,
        father_id,
        node_id,
        name,
        `order`,
        provider_id

        ) VALUES
        <foreach collection="list" item="node" separator=",">
            (

            #{node.type},
            #{node.fatherId},
            #{node.nodeId},
            #{node.name},
            #{node.order},
            #{node.providerId}

            )
        </foreach>
    </insert>

    <select id="selectAll" resultMap="BaseResultMap">
        SELECT
        id,
        type,
        father_id,
        node_id,
        name,
        `order`,
        provider_id,
        update_time,
        create_time,
        deleted
         FROM node_info
    </select>


    <select id="selectOne" resultMap="BaseResultMap">
        SELECT
        id,
        type,
        father_id,
        node_id,
        name,
        `order`,
        provider_id,
        update_time,
        create_time,
        deleted
         FROM node_info
         WHERE provider_id = #{providerId} and node_id = #{nodeId}
    </select>

    <select id="selectOneById" resultMap="BaseResultMap">
        SELECT
            id,
            type,
            father_id,
            node_id,
            name,
            `order`,
            provider_id,
            update_time,
            create_time,
            deleted
        FROM node_info
        WHERE id = #{id}
    </select>

    <select id="selectOneByNodeIdAndProviderId" resultMap="BaseResultMap">
        SELECT
            id,
            type,
            father_id,
            node_id,
            name,
            `order`,
            provider_id,
            update_time,
            create_time,
            deleted
        FROM node_info
        WHERE node_id = #{fatherId}
        <if test="providerId != null and providerId !=''">
            AND provider_id = #{providerId}
        </if>
    </select>

    <select id="selectListByFatherId" resultMap="BaseResultMap">
        SELECT
            id,
            type,
            father_id,
            node_id,
            name,
            `order`,
            provider_id,
            update_time,
            create_time,
            deleted
        FROM node_info
        WHERE father_id = #{nodeId}
        <if test="providerId != 'demo'">
            AND provider_id = #{providerId}
        </if>

    </select>

    <select id="selectByMap" resultMap="BaseResultMap">
        SELECT
            node_info.*
        FROM
            node_info
        RIGHT JOIN (
            SELECT
                node_id
            FROM
                map_user_node
            WHERE
                company_id = #{companyId}
            AND user_id = #{userId} AND is_show = 1
        ) a  ON a.node_id = node_info.id
    </select>

    <select id="selectMapByPositionId" resultMap="BaseResultMap">
        SELECT
            node_info.*
        FROM
            node_info
                RIGHT JOIN (
                SELECT
                    node_id
                FROM
                    map_user_node
                WHERE
                    company_id = #{providerId}
                  AND position_id = #{positionId}
            ) a  ON a.node_id = node_info.id
    </select>

    <select id="deleteByIds" parameterType="Integer">
        delete from node_info where id in
        <foreach collection="ids" open="(" close=")" separator="," item="id">
            #{id}
        </foreach>
    </select>


</mapper>
